name: Déployer la Fonction Supabase

on:
  push:
    branches:
      - main
    # Déployer uniquement si des changements ont lieu dans le dossier des fonctions
    paths:
      - 'supabase/functions/**'
  workflow_dispatch:

jobs:
  deploy_function:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Installation de la CLI Supabase
        run: npm install -g supabase

      - name: Déployer la fonction Edge sur Supabase
        run: supabase functions deploy send-notification --project-ref ${{ secrets.SUPABASE_PROJECT_ID }} --no-verify-jwt
        env:
          # Le jeton d'accès est utilisé pour s'authentifier auprès de l'API de gestion Supabase.
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
