name: Déployer la Fonction Supabase

on:
  push:
    branches:
      - main
    # Déployer uniquement si des changements ont lieu dans le dossier des fonctions
    paths:
      - 'supabase/functions/**'
  workflow_dispatch:

jobs:
  deploy_function:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Déployer la fonction Edge sur Supabase
        uses: supabase/cli@v1
        with:
          args: functions deploy send-notification --project-id ${{ secrets.SUPABASE_PROJECT_ID }} --no-verify-jwt
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
